.main {
  text-align: left;
  margin: 0.5rem;
}

.header {
  text-align: center;
  text-transform: uppercase;
  background-color: #f4f4f4;
  padding: 30px;
  cursor: pointer;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 10px;
}

.subheader {
  font-size: 2em;
  margin: 2rem 0;
  cursor: pointer;
}

.categories--item {
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}

.categories--item.selected {
  background-color: #bdbdc1;
}

.categories {
  display: flex;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.products--item {
  margin: 8px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.product--image-container {
  display: flex;
  flex-direction: row-reverse;
}

.product--image {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

.product--image-favorite {
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.product--title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.product-details--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
.product-details--image {
  max-width: 70%;
}
.product-details--image-container {
  display: flex;
  justify-content: center;
  min-width: 50%;
}
